<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <div style="text-align: center;">
        <table border="1" style="margin: auto">
            <tr>
                <th>Numer</th>
                <th>Znak</th>
                <th>Temperatura</th>
                <th>Wiadomosc</th>
            </tr>
            <tr th:each="alert : ${alerts}">
                <td th:text="${alert.getPhone()}"></td>
                <td th:text="${alert.getTriggerType().name()}"></td>
                <td th:text="${alert.getTemperature()}"></td>
                <td th:text="${alert.getMessage()}"></td>
            </tr>
        </table>
     </div>
</body>
</html>