<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <div style="text-align: center;">
        <table border="1" style="margin: auto">
            <tr>
                <th>Numer</th>
                <th>Znak</th>
                <th>Temperatura</th>
                <th>Wiadomosc</th>
            </tr>
            <tr th:each="alert : ${alerts}">
                <td th:text="${alert.getPhone()}"></td>
                <td th:text="${alert.getTriggerType().name()}"></td>
                <td th:text="${alert.getTemperature()}"></td>
                <td th:text="${alert.getMessage()}"></td>
            </tr>
        </table>

         <form action="/" method="post" th:object="${formAlert}">
             <input type="text" th:field="*{phone}" placeholder="Telefon"/>
             <input type="number" th:field="*{temperature}" placeholder="Temperatura"/>
             <input type="text" th:field="*{message}" placeholder="Wiadomosc"/>
             <select th:field="*{triggerType}">
                 <option th:each="state :
                  ${T(pl.oskarpolak.triggerapp.models.entities.AlertEntity.TriggerType).values()}"
                                                                       th:text="${state.name()}"
                                                                       th:value="${state.name()}"></option>
             </select>

             <input type="submit" value="WYslij">
         </form>


     </div>
</body>
</html>